{% extends 'base' %}
{% block title %} Add Site{% endblock title %} 
{% block nav %} {% include "auth_nav" %} {% endblock nav %} 
{% block main %}

<main class="sites__main">
	<div class="sites__collection">
		<div class="sites__actions">
			<a class="sites__actions__new-site" href="{{ page.dash.site.add }}">
				<button>Add new site</button>
			</a>
		</div>
		{% for site in payload %}
		<a href="/sites/mcaptcha.org" class="site__container">
			<div class="site__info--head">
				<img
					class="site__container--preview"
					src="https://mcaptcha.org/favicon.ico"
				/>
				<div class="site__info--column">
					<p href="https://mcaptcha.org">
						<b>{{ site.info.hostname }}</b>
					</p>
					<p>Deploys from {{ site.info.source_url }}</p>
				</div>
			</div>
			{% if site.last_update %}
			<div class="site__info--tail">
				<p>Last update {{ site.last_update.time }}</p>
			</div>
			{% endif %}
		</a>
		{% endfor %}
	</div>
</main>

{% endblock main %}

<!--

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assets.css }}" />
    <title>LibrePages</title>
  </head>
  <body class="auth__body">
    <header>
    {% include "auth_nav" %}

    </header>
    <main>
      <div class="sites__collection">
        <div class="sites__actions">
          <a class="sites__actions__new-site" href="{{ page.dash.site.add }}">
            <button>Add new site</button>
          </a>
        </div>
        {% for site in payload %}
          <a href="/sites/mcaptcha.org" class="site__container">
            <div class="site__info--head">
              <img
                class="site__container--preview"
                src="https://mcaptcha.org/favicon.ico"
              />
              <div class="site__info--column">
                <p href="https://mcaptcha.org"><b>{{ site.info.hostname }}</b></p>
                <p>Deploys from {{ site.info.source_url }}</p>
              </div>
            </div>
            {% if site.last_update  %}
            <div class="site__info--tail">
              <p>Last update {{ site.last_update.time }}</p>
            </div>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    </main>
    {% include "footer" %}
  </body>


</html>
-->
